{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    {# Jumbotron #}
    <div class="p-5 mb-4 bg-warning">
        <div class="container-fluid py-5 text-center">
            <h1 class="display-5 fw-bold">About</h1>
        </div>
    </div>

    <div class="col-md-9 mx-auto my-5">
        <div class="container-md">
            <p class="p-5">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at non totam vitae. Adipisci, consectetur dolore error et laboriosam maxime, nobis numquam odio perferendis placeat repellendus sed sint totam voluptate?</span><span>At dolorem doloribus modi nesciunt non. Aliquam consectetur consequuntur cum debitis, dicta distinctio ducimus est, et excepturi fuga iure labore modi molestiae porro quaerat qui sunt temporibus unde. Hic, voluptates.</span><span>Cum doloribus illum molestiae saepe tenetur. Asperiores assumenda consequatur corporis culpa dolor error minus perspiciatis repudiandae. Cumque deserunt distinctio, error harum inventore, libero nobis numquam obcaecati qui quia sed, voluptate.</span><span>Ab, beatae deleniti dicta dignissimos ex id illum ipsam neque officiis, quia repellat reprehenderit, similique ullam ut veniam! Doloribus libero non soluta. Atque beatae eius eos fugiat odio sed temporibus.</span>
            </p>
        </div>
    </div>
{% endblock %}
